@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
